@font-face {
    font-family: Lato-Regular;
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Black;
    src: url(fonts/Lato-Black.ttf);
}

@font-face {
    font-family: Lato-Italic;
    src: url(fonts/Lato-Italic.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Lato-Regular;
}

.italicText {
    font-family: Lato-Italic;
}

.colorword {
    color: #F16D7F;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #222222;
}

.header_icons1 {
    justify-content: space-between;
    margin-right: 190px;
}

.header_icons2 {
    margin-left: 190px;
}

.header_icon {
    margin: 0 30px 0;
}

.BrandLogo {
    width: 50%;
    display: flex;
    margin-left: 80px;
}

.theBrand {
    margin-left: 16px;
    font-size: 32px
}

.theBrandheader {
    font-family: Lato-Black;
}

.theBrandtext {
    font-family: Lato-Bold;
}

.line {
    border-left: 12px solid #F16D7F;
    height: 96px;
}

.jacket {
    width: 50%;
}

.brand {
    background: #F1E4E6;
    display: flex;
    align-items: center;
}

.img_brand {
    width: 100%;
    height: auto;
    margin-left: 66px;
}

.img_men {
    width: 100%;
    height: auto;
}

.categories {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    margin-top: 65px;
    gap: 29px;
    justify-content: center;
}

.category_link {
    text-decoration: none;
}

.category_link:hover {
    text-decoration: underline;
}

.category_link:visited {
    color: #F16D7F;
}

.category_text {
    color: white;
    text-align: center;
}

.category_bottomtext {
    font-size: 22px;
    font-weight: bold;
}

.category1 {
    height: 260px;
    background-image: url(img/categories/for_women1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.category2 {
    background-image: url(img/categories/for_men1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.category3 {
    background-image: url(img/categories/for_kids1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.category4 {
    width: 316%;
    height: 180px;
    background-image: url(img/categories/f_accesories1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fetured_items {
    margin-top: 96px
}

.fetureditems_title {
    text-align: center;
}

.grey_text {
    color: #9F9F9F;
    margin-top: 6px;
}

.product_box {
    margin-top: 47px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 30px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.product {
    background: #F8F8F8;
    height: 100%;
}

.product_img {
    width: 100%;
}

.box {
    opacity: 1;
    position: relative;
}

.box:hover {
    opacity: 0.8;
}

.dark {
    background: rgba(0,0,0,3);
    position: absolute;
    top: -2px;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark:hover {
    opacity: 0.5;
    position: absolute;
}

.AddToCart {
    border: 1px solid white;
    display: flex;
    align-items: center;
    padding: 13px;
}

.AddToCart_text {
    color: white;
    margin-left: 11px;
}

/*.product_img:hover {
    filter: brightness(40%);
}*/

.product_info {
    width: 314px;
    padding: 20px;
    margin-top: 25px;
}

.product_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: #9F9F9F;
    margin-top: 12px;
    margin-bottom: 18px;
}

.BrowseButton {
    margin-top: 63px;
    margin-bottom: 109px;
    display: flex;
    justify-content: center;
}

.ButtonLink {
    border: 1px solid #F16D7F;
    text-decoration: none;
    padding: 14px 38px;
}

.ButtonLink:hover {
    border: 1px solid white;
    background: #F16D7F;
    color: white;
}

.footerHeading {
    font-family: Lato-Regular;
    color: white;
    font-weight: 300;
    font-size: 19.96px;
    line-height: 24px;
    margin-top: 28px;
    margin-bottom: 16px;
}

.footer_top {
    background: #222224;
}

.benefit_box {
    display: flex;
    justify-content: space-around;
}

.benefit {
    margin-top: 104px;
    margin-bottom: 104px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.benefit_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    width: 370px;
    text-align: center;
}

.footer_bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(img/photo_subscribe.jpg);
    height: 448px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote_text {
    width: 360px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe {
    text-align: center;
}

.subscribe_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 167.2%;
}

.subscribe_form {
    display: flex;
    margin-top: 32px;
}

.subscribe_input {
    width: 75%;
    background: #E1E1E1;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    height: 10px;
    border: none;
    padding: 22px;
}

.subscribe_button {
    background: #F16D7F;
    border: none;
    padding: 10px;
    width: 100px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    color: white;
}

.subscribe_button:hover {
    cursor: pointer;
    background: #ec5468;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #222224;
    height: 80px;
}

.copy_text {
    margin-left: 80px;
}

.social {
    margin-right: 80px;
    display: flex;
}

.socialicon {
    width: 32px;
    height: 32px;
    margin-left: 4px;
}

.socialicon:hover {
    background: #F16D7F;
}

@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .header {
        justify-content: space-between;
    }

    .header_icons1 {
        margin-right: 0;
        margin-left: 50px;
    }

    .header_icons2 {
        margin-left: 0;
        margin-right: 50px;
    }

    .categories {
        margin-top: 25px;
        grid-template-columns: 30% 30% 30%;
        gap: 20px;
    }

    .category1 {
        height: 230px;
        background-position: center;
        background-size: cover;
    }

    .category2 {
        background-position: center;
        background-size: cover;
    }

    .category3 {
        background-position: center;
        background-size: cover;
    }

    .category4 {
        background-position: center;
        background-size: cover;
        width: 313%;
        height: 152px;
    }

    .product_box {
        grid-template-columns: auto auto;
        gap: 25px;
    }

    .benefit_box {
        flex-direction: column;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .benefit {
        margin: 24px;
    }

    .footer_bottom {
        flex-direction: column;
        background-size: cover;
        height: 693px;
    }

    .quote {
        margin-top: 53px;
    }

    .subscribe {
        margin-bottom: 140px;
        margin-top: 48px;
    }

    .subscribe_form {
        margin-top: 20px;
    }

    .copy_text {
        margin-left: 32px;
    }
    
    .social {
        margin-right: 32px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }

    .line {
        height: 75px;
    }

    .theBrand {
        font-size: 25px;
    }

    .categories {
        gap: 15px;
    }

    .category1 {
        height: 190px;
    }

    .category4 {
        height: 114px;
    }

    .product_box {
        grid-template-columns: auto auto;
        gap: 16px;
    }
}

@media (max-width: 425px) {
    .container {
        max-width: 425px;
    }

    .header_icon1 {
        display: none;
    }

    .header_icons1 {
        margin-left: 20px;
    }

    .header_icons2 {
        margin-right: 20px;
    }

    .brand {
        height: 363px;
        justify-content: center;
    }

    .BrandLogo {
        width: auto;
        margin: 0;
    }

    .jacket {
        display: none;
    }

    .categories {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .category1 {
        height: 260px;
        width: 90%;
    }

    .category2 {
        height: 260px;
        width: 90%;
    }

    .category3 {
        height: 260px;
        width: 90%;
    }

    .category4 {
        width: 90%;
        height: 115px;
    }

    .fetured_items {
        margin-top: 64px;
    }

    .product_box {
        grid-template-columns: auto;
        gap: 16px;
    }

    .copyright {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .copy_text {
        margin-left: 0;
        margin-bottom: 9px;
    }

    .social {
        margin-top: 52px;
        margin-bottom: 48px;
        margin-right: 0;
    }

    .benefit_text {
        width: 300px;
    }

    .quote_text {
        width: 300px;
    }

    .subscribe_text {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 320px;
    }

    .product_info {
        width: 80%;
    }
}